    @charset "UTF-8";
    /*aside menu*/
    
    .aside {
        background-color: #282E35;
    }
    
    .aside-menu {
        background-color: #282E35;
    }
    
    .aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading,
    .aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link {
        background-color: #00000061;
    }
    
    .brand {
        background-color: #282E35;
    }
    
    .aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading .menu-icon.svg-icon svg g [fill],
    .aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-icon.svg-icon svg g [fill] {
        fill: #FFA800;
    }
    
    .aside-menu .menu-nav>.menu-item>.menu-heading .menu-icon.svg-icon svg g [fill],
    .aside-menu .menu-nav>.menu-item>.menu-link .menu-icon.svg-icon svg g [fill] {
        fill: #ffa80063;
    }
    
    .aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading .menu-icon.svg-icon svg g [fill],
    .aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-icon.svg-icon svg g [fill] {
        fill: #FFA800;
    }
    
    .aside-menu .menu-nav>.menu-item.menu-item-open>.menu-heading .menu-icon.svg-icon svg g [fill],
    .aside-menu .menu-nav>.menu-item.menu-item-open>.menu-link .menu-icon.svg-icon svg g [fill] {
        fill: #FFA800;
    }
    
    .aside-menu .menu-nav>.menu-item>.menu-heading .menu-icon,
    .aside-menu .menu-nav>.menu-item>.menu-link .menu-icon {
        fill: #ffa80063;
    }
    
    .aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading .menu-icon,
    .aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-icon {
        fill: #FFA800;
    }
    
    .aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-heading .menu-bullet.menu-bullet-dot>span,
    .aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-link .menu-bullet.menu-bullet-dot>span {
        background-color: #ffa80063;
    }
    
    .aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading .menu-bullet.menu-bullet-dot>span,
    .aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-bullet.menu-bullet-dot>span {
        background-color: #FFA800;
    }
    
    .table .thead-dark th {
        background-color: #282E35;
        border-color: #464646;
    }